
body {
    background-color: #f8f9fa;
    }
    
header {
    justify-content: space-between;
    text-align: center;
    background-color: #000000
    }

.logo {
        font-weight: bolder; /*Peso o grueso del texto, en este caso el texto es negrita*/
        font-size: 25px; /*Tamaño del texto*/
        color: #F61706; /*Color del texto*/
        text-shadow: -1px -1px 7px #000, 1px 1px 7px #000, -1px 1px 7px #000, 1px -1px 7px #000; /*Sombra del texto, primer parametro crea una sombra desplazada hacia la izquierda porque el valor es negativo, segundo hacia arriba, el tercer parametro es el grosor, para rodear los cuatro lados de la caja contenedora del texto se crean 4 sombras */       
        background-color: black;
    }

.container-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    box-sizing: border-box;
    }

.container-fluid {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    box-sizing: border-box;
    padding: 0px;
    }

h2 {
    color: #007bff;
    margin-bottom: 10px;
    }

.navbar {
    margin-bottom: 20px;
    padding: 0px;
    margin-left: 10px;
    font-family: Arial, Helvetica, sans-serif; /*Varios tipos de letra, si el navegador no encuentra el primero, sigue con el segundo y si no con el tercero*/
    text-transform: capitalize; /*Primera letra en mayúscula */
    text-decoration: none; /*Sin subrayado*/;
    font-weight: bold;    
}

.navbar a:hover {
    background-color: #02bcbc;
    border-radius: 15px;
    color: white;
}

.navbar-brand {
    color: white;
}

.nav-link{
    color: white;
}
.navbar-nav .nav-link.active{
    color: white;
}
.col-md-4{
    display: flex;
    border-radius: 15px;
}
img {
    border-radius: 10px;
    margin-bottom: 20px;
    flex: 1;
    flex-grow: 0;
    min-width: 350px;
}

.col-md-4:hover {
    background-color: #0707075e;
}
#gallery {
    display: flex;
    height: 400px;
    flex-wrap: nowrap;
    overflow-x: scroll;
}

